.navbar {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6; 
  font-weight: bold; 
  padding: 10px 0; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-content {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.show .modal-content {
  opacity: 1;
}

.nav-link {
    color: #495057;
}

.nav-link:hover {
    color: rgb(167, 218, 235); 
}   

#example {
    border-spacing: 0 10px;
    border: 1px solid #ddd;
}
  
#example tr:hover {
    background-color: rgb(167, 218, 235);
}
  
#example th {
    background-color: rgb(90, 90, 87);
    color: white;
 }

.card {
  background-color: rgb(228, 206, 80);
  transition: transform 0.5s ease;
}

.card:hover {
  transform: scale(1.05); /* Increase size by 5% */
  background-color: rgb(234, 202, 20);
}

body {
  background-color: rgb(249, 249, 249);
}

.contentbackground {
  background-color: black;
}

.card-title {
  color: black;
}

body {
      background-color: #f8f9fa; 
}

#bungkusInputanTable {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 40px; padding-bottom: 30px;
    margin-top: 30px;
}

.form-floating input[type=text] {
      border-radius: 6px;
      border-color: #ced4da; 
}

.modal-header {
     background-color: #0d6efd; 
     color: #ffffff; 
     border-bottom: none;
}
   
.modal-footer .btn-secondary {
    background-color: #6c757d; 
}
    
.modal-body, .modal-content {
    background-color: #ffffff; 
}
    
.modal-body p {
    color: #212529; 
}

.modal-body, .modal-content {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
 }
    
 .custom-modal .modal-dialog {
      max-width: 450px; 
}

.about-us {
  text-align: center;

}

.about-us-text {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
  border: 2px solid #333;
  padding: 10px;
  display: inline-block;
}

.about-us-background {
background-color: black;

}