/* Home */
.navbar {
  border-bottom: 1px solid #e9f3e8; 
  font-weight: bold; 
  padding: 10px 0; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-custom {
  background-color: #86a788;
}

.btn-custom {
  background-color:#b2c8bb;
}

body {
  background-color:#b2c8bb; 
  font-family: 'Josefin Sans', sans-serif;
}

#bungkusInputanTable {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding: 40px;
  height: 100%;
}

.form-floating input[type=text] {
    border-radius: 6px;
    border-color: #ced4da; 
}

.modal-header {
   background-color: #b2c8bb; 
   color: #ffffff; 
   border-bottom: none;
}
 
.modal-footer .btn-secondary {
  background-color: #6c757d; 
}
  
.modal-body, .modal-content {
  background-color: #ffffff; 
}
  
.modal-body p {
  color: #212529; 
}

.modal-body, .modal-content {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
  
.custom-modal .modal-dialog {
    max-width: 450px; 
}

.modal-content {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.show .modal-content {
  opacity: 1;
}
  
#example tr:hover {
    background-color: #e9f3e8;
}
  
#example th {
    background-color: #86a788;
    color: white;
 }

/* Content */
.card {
  background-color: rgb(228, 206, 80);
  transition: transform 0.5s ease;
}

.card:hover {
  transform: scale(1.05); /* Increase size by 5% */
  background-color: rgb(234, 202, 20);
}

.contentbackground {
  background-color: black;
}

.card-title {
  color: black;
}


/* About us */
.about-us {
  text-align: center;
}

.about-us-text {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
  border: 2px solid #333;
  padding: 10px;
  display: inline-block;
}

.about-us-background {
background-color: black;
}
