/* Home */
.navbar {
  border-bottom: 1px solid #e9f3e8; 
  font-weight: bold; 
  padding: 10px 0; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-link.active {
  color: #ffffff;
}

.navbar-custom {
  background-color: #86a788;
}

.btn-custom {
  background-color:#b2c8bb !important;
}

body {
  background-color:#b2c8bb; 
  font-family: 'Josefin Sans', sans-serif;
}

#bungkusInputanTable {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding: 40px;
  height: 100%;
}

.form-floating input[type=text] {
    border-radius: 7px;
    border-color: #ced4da; 
}

.modal-header {
   background-color: #b2c8bb; 
   color: #ffffff; 
   border-bottom: none;
}
 
.modal-footer .btn-secondary {
  background-color: #6c757d; 
}
  
.modal-body, .modal-content {
  background-color: #ffffff; 
}
  
.modal-body p {
  color: #212529; 
}

.modal-body, .modal-content {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
  
.custom-modal .modal-dialog {
    max-width: 450px; 
}

.modal-content {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.show .modal-content {
  opacity: 1;
}
  
#example tr:hover {
    background-color: #e9f3e8;
}
  
#example th {
    background-color: #86a788;
    color: white;
}

/* Content */
#bungkusAbout{
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding: 40px;
  height: 100%;

}

.card {
  width: 300px;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
}

.card-img-top {
  flex-shrink: 0;
  max-height: 100%;
  object-fit: cover;
}

#bungkusVideo {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding: 40px;
  height: 100%;
}